@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f4f4f4;
}

.elevesContainer {
    width: 70%;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
}

.eleve {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: darkturquoise;
    border-left: 1px solid darkturquoise;
    border-bottom: 1px solid darkturquoise;
}

.eleve p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1rem;
}

.eleve button {
    background: darkturquoise;
    padding: .5rem;
    border: none;
    outline: none;
}

.eleve a {
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
}


.eleveCompetenceTitle {
    color: darkturquoise;
    text-align: center;
    margin: 3rem auto 3rem auto;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backButton {
    background: darkturquoise;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding: .6rem;
    text-decoration: none;
    margin-top: 3rem;
}

header {
    background: darkturquoise;
    color: white;
    color: #fff;
    padding: 2rem;
    text-align: center;
}